<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="construction_organizationEntities" connectionString="metadata=res://*/Models.builder.csdl|res://*/Models.builder.ssdl|res://*/Models.builder.msl;provider=System.Data.SqlClient;provider connection string='data source=KAWARAG1_SENJU\SQLEXPRESS;initial catalog=&quot;construction organization&quot;;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>